node-red/area-front-porch.json
[
    {
        "id": "area-front-porch",
        "type": "tab",
        "label": "Area: Front Porch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0d8dbb8e17b23773",
        "type": "group",
        "z": "area-front-porch",
        "name": "Sinks",
        "style": {
            "label": true
        },
        "nodes": [
            "b7149eed95195d2f",
            "9eb4201e122ab96f",
            "46fc5027d6ee42b5",
            "f5cf73dd1c106408",
            "018cbe5e1936ab92",
            "b66c120353dcdcb4",
            "50976bf9c63eb6bb",
            "287e529a6d58976c"
        ],
        "x": 54,
        "y": 159,
        "w": 432,
        "h": 262
    },
    {
        "id": "1997e43d900ad133",
        "type": "group",
        "z": "area-front-porch",
        "name": "Lighting",
        "style": {
            "label": true
        },
        "nodes": [
            "8dedfa4f81255d72",
            "c8f02f69402d2392",
            "ab7206cc96104604"
        ],
        "x": 54,
        "y": 39,
        "w": 612,
        "h": 82
    },
    {
        "id": "fd755e995badce8f",
        "type": "group",
        "z": "area-front-porch",
        "name": "Error Handling",
        "style": {
            "label": true
        },
        "nodes": [
            "347f6f63dade8434",
            "38510cbb124dbbf0"
        ],
        "x": 54,
        "y": 459,
        "w": 352,
        "h": 82
    },
    {
        "id": "4d2ec27eeb0ada8f",
        "type": "group",
        "z": "area-front-porch",
        "name": "Test Cases",
        "style": {
            "label": true
        },
        "nodes": [
            "a5dec322cacc3855",
            "54e828594fb2fba1",
            "3949628144edae47",
            "ded0618a16da5d16",
            "6d63863639c5b709",
            "0cbe57b6066c5208",
            "08342ad812806f7e",
            "31148450560e07f2",
            "e3b4c2eec55340e6"
        ],
        "x": 54,
        "y": 579,
        "w": 612,
        "h": 202
    },
    {
        "id": "b7149eed95195d2f",
        "type": "mqtt in",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Period",
        "topic": "highland/state/scheduler/period",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4cefa2ad2d8b462e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "9eb4201e122ab96f"
            ]
        ]
    },
    {
        "id": "9eb4201e122ab96f",
        "type": "link out",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Control Exterior Light",
        "mode": "link",
        "links": [
            "8dedfa4f81255d72"
        ],
        "x": 340,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "46fc5027d6ee42b5",
        "type": "mqtt in",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Daytime",
        "topic": "highland/event/scheduler/day",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4cefa2ad2d8b462e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "f5cf73dd1c106408"
            ]
        ]
    },
    {
        "id": "f5cf73dd1c106408",
        "type": "link out",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Control Exterior Light",
        "mode": "link",
        "links": [
            "8dedfa4f81255d72"
        ],
        "x": 360,
        "y": 260,
        "wires": [],
        "l": true
    },
    {
        "id": "018cbe5e1936ab92",
        "type": "mqtt in",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Evening",
        "topic": "highland/event/scheduler/evening",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4cefa2ad2d8b462e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "b66c120353dcdcb4"
            ]
        ]
    },
    {
        "id": "b66c120353dcdcb4",
        "type": "link out",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Control Exterior Light",
        "mode": "link",
        "links": [
            "8dedfa4f81255d72"
        ],
        "x": 360,
        "y": 320,
        "wires": [],
        "l": true
    },
    {
        "id": "50976bf9c63eb6bb",
        "type": "mqtt in",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Overnight",
        "topic": "highland/event/scheduler/overnight",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4cefa2ad2d8b462e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "287e529a6d58976c"
            ]
        ]
    },
    {
        "id": "287e529a6d58976c",
        "type": "link out",
        "z": "area-front-porch",
        "g": "0d8dbb8e17b23773",
        "name": "Control Exterior Light",
        "mode": "link",
        "links": [
            "8dedfa4f81255d72"
        ],
        "x": 360,
        "y": 380,
        "wires": [],
        "l": true
    },
    {
        "id": "8dedfa4f81255d72",
        "type": "link in",
        "z": "area-front-porch",
        "g": "1997e43d900ad133",
        "name": "Control Exterior Light",
        "links": [
            "287e529a6d58976c",
            "0cbe57b6066c5208",
            "e3b4c2eec55340e6",
            "f5cf73dd1c106408",
            "b66c120353dcdcb4",
            "9eb4201e122ab96f",
            "3949628144edae47"
        ],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "c8f02f69402d2392"
            ]
        ],
        "l": true
    },
    {
        "id": "c8f02f69402d2392",
        "type": "function",
        "z": "area-front-porch",
        "g": "1997e43d900ad133",
        "name": "Set State",
        "func": "const payload = typeof msg.payload === 'string'\n    ? JSON.parse(msg.payload)\n    : msg.payload;\nconst period = payload.period;\n\nlet lightPayload = {};\nlet percentage = 0;\n\nswitch (period) {\n    case 'daytime':\n        lightPayload = { state: 'OFF' };\n        break;\n    case 'evening':\n        lightPayload = { state: 'ON', brightness: 254 };\n        percentage = 100;\n        break;\n    case 'overnight':\n        lightPayload = { state: 'ON', brightness: 64 };\n        percentage = 25;\n        break;\n}\n\nmsg.topic = 'zigbee2mqtt/front_porch_entry_light/set';\nmsg.payload = JSON.stringify(lightPayload);\n\nconst formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\nlet color = (lightPayload.state === 'ON' ? 'green' : 'yellow');\nlet addendum = '';\n\nif (percentage > 0) {\n    addendum = ` | ${percentage}%`;\n}\n\nnode.status({ fill: color, shape: 'dot', text: formatStatus(`${lightPayload.state}${addendum}`) });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "ab7206cc96104604"
            ]
        ]
    },
    {
        "id": "ab7206cc96104604",
        "type": "mqtt out",
        "z": "area-front-porch",
        "g": "1997e43d900ad133",
        "name": "Publish",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4cefa2ad2d8b462e",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "347f6f63dade8434",
        "type": "catch",
        "z": "area-front-porch",
        "g": "fd755e995badce8f",
        "name": "Catch All",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "38510cbb124dbbf0"
            ]
        ]
    },
    {
        "id": "38510cbb124dbbf0",
        "type": "debug",
        "z": "area-front-porch",
        "g": "fd755e995badce8f",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "a5dec322cacc3855",
        "type": "inject",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Manual",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "54e828594fb2fba1"
            ]
        ]
    },
    {
        "id": "54e828594fb2fba1",
        "type": "change",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Daytime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"period\":\"daytime\",\"timestamp\":\"...\",\"source\":\"scheduler\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 620,
        "wires": [
            [
                "3949628144edae47"
            ]
        ]
    },
    {
        "id": "3949628144edae47",
        "type": "link out",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Control Exterior Light",
        "mode": "link",
        "links": [
            "8dedfa4f81255d72"
        ],
        "x": 540,
        "y": 620,
        "wires": [],
        "l": true
    },
    {
        "id": "ded0618a16da5d16",
        "type": "inject",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Manual",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "6d63863639c5b709"
            ]
        ]
    },
    {
        "id": "6d63863639c5b709",
        "type": "change",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Evening",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"period\":\"evening\",\"timestamp\":\"...\",\"source\":\"scheduler\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "0cbe57b6066c5208"
            ]
        ]
    },
    {
        "id": "0cbe57b6066c5208",
        "type": "link out",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Control Exterior Light",
        "mode": "link",
        "links": [
            "8dedfa4f81255d72"
        ],
        "x": 540,
        "y": 680,
        "wires": [],
        "l": true
    },
    {
        "id": "08342ad812806f7e",
        "type": "inject",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Manual",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "31148450560e07f2"
            ]
        ]
    },
    {
        "id": "31148450560e07f2",
        "type": "change",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Overnight",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"period\":\"overnight\",\"timestamp\":\"...\",\"source\":\"scheduler\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 740,
        "wires": [
            [
                "e3b4c2eec55340e6"
            ]
        ]
    },
    {
        "id": "e3b4c2eec55340e6",
        "type": "link out",
        "z": "area-front-porch",
        "g": "4d2ec27eeb0ada8f",
        "name": "Control Exterior Light",
        "mode": "link",
        "links": [
            "8dedfa4f81255d72"
        ],
        "x": 540,
        "y": 740,
        "wires": [],
        "l": true
    },
    {
        "id": "4cefa2ad2d8b462e",
        "type": "mqtt-broker",
        "name": "Hub",
        "broker": "hub.local",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]