node-red/utility-weather-alerts.json
[
    {
        "id": "utility-weather-alerts",
        "type": "tab",
        "label": "Utility: Weather Alerts",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d393237548316ec",
        "type": "group",
        "z": "utility-weather-alerts",
        "name": "Sinks",
        "style": {
            "label": true
        },
        "nodes": [
            "488ad26dd025bd04",
            "2a862225c1fc2389"
        ],
        "x": 54,
        "y": 219,
        "w": 432,
        "h": 82
    },
    {
        "id": "806e9ecc0ebe893f",
        "type": "group",
        "z": "utility-weather-alerts",
        "name": "Alert Pipeline",
        "style": {
            "label": true
        },
        "nodes": [
            "cc34ec182e1fc0ca",
            "82fb478322644428",
            "2e0592686a77b2d1",
            "536b3a09469835a1",
            "6419bac00c55416d",
            "f3491f6a167a9780",
            "9431f89c8e72dece",
            "5a8186dbb17e7425"
        ],
        "x": 54,
        "y": 39,
        "w": 1232,
        "h": 142
    },
    {
        "id": "d95945a45dda81f5",
        "type": "group",
        "z": "utility-weather-alerts",
        "name": "Error Handling",
        "style": {
            "label": true
        },
        "nodes": [
            "ad2efd39b393cb9c",
            "35bbbb9283ea5e80"
        ],
        "x": 54,
        "y": 459,
        "w": 352,
        "h": 82
    },
    {
        "id": "5fe8ffe3145c6a25",
        "type": "group",
        "z": "utility-weather-alerts",
        "name": "Home Assistant Discovery",
        "style": {
            "label": true
        },
        "nodes": [
            "83310d17313f998b",
            "f236a0e6c9c68c3f",
            "888b530227258ecc"
        ],
        "x": 54,
        "y": 339,
        "w": 612,
        "h": 82
    },
    {
        "id": "488ad26dd025bd04",
        "type": "inject",
        "z": "utility-weather-alerts",
        "g": "6d393237548316ec",
        "name": "Every 30 Seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "2a862225c1fc2389"
            ]
        ]
    },
    {
        "id": "2a862225c1fc2389",
        "type": "link out",
        "z": "utility-weather-alerts",
        "g": "6d393237548316ec",
        "name": "Poll Alerts",
        "mode": "link",
        "links": [
            "cc34ec182e1fc0ca"
        ],
        "x": 400,
        "y": 260,
        "wires": [],
        "l": true
    },
    {
        "id": "ad2efd39b393cb9c",
        "type": "catch",
        "z": "utility-weather-alerts",
        "g": "d95945a45dda81f5",
        "name": "Catch All",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "35bbbb9283ea5e80"
            ]
        ]
    },
    {
        "id": "cc34ec182e1fc0ca",
        "type": "link in",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Poll Alerts",
        "links": [
            "2a862225c1fc2389"
        ],
        "x": 140,
        "y": 80,
        "wires": [
            [
                "82fb478322644428"
            ]
        ],
        "l": true
    },
    {
        "id": "82fb478322644428",
        "type": "function",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Build Request",
        "func": "const location = global.get('config')?.location;\nconst lat = location?.latitude;\nconst lon = location?.longitude;\n\nmsg.url = `https://api.weather.gov/alerts/active?point=${lat},${lon}`;\n\nmsg.headers = { \n    'Accept': 'application/geo+json',\n    'User-Agent': global.get('config')?.infrastructure?.http?.user_agent\n};\n\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "2e0592686a77b2d1"
            ]
        ]
    },
    {
        "id": "2e0592686a77b2d1",
        "type": "http request",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Fetch Alerts",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 80,
        "wires": [
            [
                "536b3a09469835a1"
            ]
        ]
    },
    {
        "id": "536b3a09469835a1",
        "type": "function",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Process Alerts",
        "func": "const formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\nconst location = global.get('config')?.location;\nconst lat = location?.latitude;\nconst lon = location?.longitude;\n\nif (msg.statusCode !== 200) {\n    node.error(`Alerts fetch failed: ${msg.statusCode}`, msg);\n    return null;\n}\n\nconst now = new Date();\n\n// Pre-filter: remove alerts NWS is still returning but have already expired\nconst incoming = (msg.payload.features || []).filter(f => new Date(f.properties.expires) > now);\n\n// --- Three-tier deduplication ---\n\n// Tier 1: messageType Update + references (formal NWS supersession)\nconst supersededIds = new Set();\nfor (const feature of incoming) {\n    const p = feature.properties;\n    if (p.messageType === 'Update' && Array.isArray(p.references) && p.references.length > 0) {\n        for (const ref of p.references) {\n            const refId = typeof ref === 'string' ? ref : (ref['@id'] ?? ref.identifier);\n            if (refId) supersededIds.add(refId);\n        }\n    }\n}\nconst tier1 = incoming.filter(f => !supersededIds.has(f.properties.id));\n\n// Tier 2: VTEC deduplication (watches, warnings, advisories)\nfunction vtecParts(vtecStr) {\n    const match = vtecStr.match(/\\/\\w+\\.(\\w{4})\\.(\\w{2})\\.(\\w)\\.(\\d{4})\\./);\n    if (!match) return null;\n    const [, office, phenom, sig, num] = match;\n    return { office, phenom, sig, num, code: phenom + sig };\n}\n\nfunction vtecKey(vtecStr) {\n    const parts = vtecParts(vtecStr);\n    if (!parts) return null;\n    return `${parts.office}.${parts.phenom}.${parts.sig}.${parts.num}`;\n}\n\nfunction alertCorrelationId(feature) {\n    const vtecParam = feature.properties.parameters?.VTEC?.[0];\n    if (vtecParam) {\n        const key = vtecKey(vtecParam);\n        if (key) return 'weather_alert_' + key.toLowerCase().replace(/\\./g, '_');\n    }\n    const evt    = feature.properties.event || '';\n    const sender = feature.properties.senderName || '';\n    const sanitized = (evt + '_' + sender).toLowerCase().replace(/[^a-z0-9]+/g, '_');\n    return 'weather_alert_' + sanitized;\n}\n\nfunction nwsCode(feature) {\n    const vtecParam = feature.properties.parameters?.VTEC?.[0];\n    if (vtecParam) {\n        const parts = vtecParts(vtecParam);\n        if (parts) return parts.code;\n    }\n    return '';\n}\n\nconst vtecGroups = {};\nconst nonVtec = [];\nfor (const feature of tier1) {\n    const vtecParam = feature.properties.parameters?.VTEC?.[0];\n    if (vtecParam) {\n        const key = vtecKey(vtecParam);\n        if (key) {\n            if (!vtecGroups[key] || new Date(feature.properties.sent) > new Date(vtecGroups[key].properties.sent)) {\n                vtecGroups[key] = feature;\n            }\n            continue;\n        }\n    }\n    nonVtec.push(feature);\n}\n\n// Tier 3: Heuristic deduplication for non-VTEC products (e.g. SPS)\nfunction windowsOverlap(a, b) {\n    const aEff = new Date(a.properties.effective);\n    const aExp = new Date(a.properties.expires);\n    const bEff = new Date(b.properties.effective);\n    const bExp = new Date(b.properties.expires);\n    return aEff < bExp && bEff < aExp;\n}\n\nconst heuristicGroups = {};\nfor (const feature of nonVtec) {\n    const p = feature.properties;\n    const key = `${p.event}|${p.senderName}|${p.areaDesc}`;\n    if (!heuristicGroups[key]) heuristicGroups[key] = [];\n    heuristicGroups[key].push(feature);\n}\n\nconst tier3 = [];\nfor (const group of Object.values(heuristicGroups)) {\n    if (group.length === 1) { tier3.push(group[0]); continue; }\n    const hasOverlap = group.some((a, i) => group.slice(i + 1).some(b => windowsOverlap(a, b)));\n    if (hasOverlap) {\n        const newest = group.reduce((best, f) =>\n            new Date(f.properties.sent) > new Date(best.properties.sent) ? f : best\n        );\n        tier3.push(newest);\n    } else {\n        tier3.push(...group);\n    }\n}\n\nconst deduped = [...Object.values(vtecGroups), ...tier3];\n// --- End deduplication ---\n\nconst known = flow.get('known_alerts') || {};\n\nconst severityMap = {\n    'Extreme': 'critical',\n    'Severe':  'high',\n    'Moderate':'medium',\n    'Minor':   'low'\n};\n\nconst events = [];\nconst updatedKnown = {};\n\n// Process active alerts — store in PascalCase to match NwsAdapter expectations\nfor (const feature of deduped) {\n    const p = feature.properties;\n    const id = p.id;\n    const existing = known[id];\n    const correlationId = alertCorrelationId(feature);\n\n    updatedKnown[id] = {\n        // PascalCase fields for NwsAdapter compatibility\n        ID:           id,\n        Event:        p.event        || '',\n        Headline:     p.headline     || '',\n        Severity:     p.severity     || '',\n        Certainty:    p.certainty    || '',\n        Urgency:      p.urgency      || '',\n        Sent:         p.sent         || '',\n        Onset:        p.onset        || '',\n        Expires:      p.expires      || '',\n        Ends:         p.ends         || '',\n        AreasAffected: p.areaDesc    || '',\n        Description:  p.description  || '',\n        Instruction:  p.instruction  || '',\n        URL:          id,  // NWS alert ID is the full API URL\n        NWSCode:      nwsCode(feature),\n        Type:         p.messageType  || '',\n        Status:       p.status       || '',\n        // Internal — not used by card\n        correlation_id: correlationId\n    };\n\n    const eventPayload = {\n        timestamp:             now.toISOString(),\n        source:                'weather_alerts',\n        event:                 p.event,\n        headline:              p.headline,\n        severity:              p.severity,\n        notification_severity: severityMap[p.severity] || 'medium',\n        sent:                  p.sent,\n        expires:               p.expires,\n        ends:                  p.ends,\n        correlation_id:        correlationId,\n        url:                   `https://forecast.weather.gov/MapClick.php?lat=${lat}&lon=${lon}`\n    };\n\n    if (!existing) {\n        events.push({ topic: 'highland/event/weather/alert/new', payload: eventPayload });\n    } else if (existing.Sent !== p.sent) {\n        events.push({ topic: 'highland/event/weather/alert/updated', payload: eventPayload });\n    }\n}\n\n// Fire expired events for anything that didn't survive pre-filter + deduplication\nfor (const [id, data] of Object.entries(known)) {\n    if (!updatedKnown[id]) {\n        events.push({\n            topic: 'highland/event/weather/alert/expired',\n            payload: {\n                timestamp:      now.toISOString(),\n                source:         'weather_alerts',\n                event:          data.Event,\n                headline:       data.Headline,\n                severity:       data.Severity,\n                expires:        data.Expires,\n                ends:           data.Ends,\n                correlation_id: data.correlation_id\n            }\n        });\n    }\n}\n\n// Persist updated known set\nflow.set('known_alerts', updatedKnown);\n\n// Build Alerts array in NwsAdapter-compatible PascalCase shape\nconst activeAlerts = Object.values(updatedKnown).map(a => ({\n    ID:           a.ID,\n    Event:        a.Event,\n    Headline:     a.Headline,\n    Severity:     a.Severity,\n    Certainty:    a.Certainty,\n    Urgency:      a.Urgency,\n    Sent:         a.Sent,\n    Onset:        a.Onset,\n    Expires:      a.Expires,\n    Ends:         a.Ends,\n    AreasAffected: a.AreasAffected,\n    Description:  a.Description,\n    Instruction:  a.Instruction,\n    URL:          a.URL,\n    NWSCode:      a.NWSCode,\n    Type:         a.Type,\n    Status:       a.Status\n}));\n\n// Snapshot — NwsAdapter reads from 'Alerts' (capital A) with PascalCase fields\nconst snapshot = {\n    topic:   'highland/state/weather/alerts',\n    retain:  true,\n    qos:     1,\n    payload: JSON.stringify({\n        timestamp:  now.toISOString(),\n        source:     'weather_alerts',\n        count:      activeAlerts.length,\n        attribution: 'Data provided by Weather.gov',\n        Alerts:     activeAlerts\n    })\n};\n\nconst previousCount = flow.get('last_alert_count') ?? -1;\nconst currentCount  = activeAlerts.length;\nif (currentCount !== previousCount) {\n    flow.set('last_alert_count', currentCount);\n}\n\nnode.status({\n    fill:  currentCount > 0 ? 'yellow' : 'green',\n    shape: currentCount > 0 ? 'ring'   : 'dot',\n    text:  formatStatus(`${currentCount} active alert(s)`)\n});\n\nmsg.snapshot = snapshot;\nmsg.events   = events;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 80,
        "wires": [
            [
                "6419bac00c55416d",
                "5a8186dbb17e7425"
            ]
        ]
    },
    {
        "id": "6419bac00c55416d",
        "type": "function",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Build Dispatches",
        "func": "// Publish snapshot\nnode.send({ topic: msg.snapshot.topic, payload: msg.snapshot.payload, retain: true, qos: 1 });\n\n// Fire lifecycle events to MQTT\nfor (const evt of msg.events) {\n    node.send({ topic: evt.topic, payload: JSON.stringify(evt.payload), retain: false, qos: 0 });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 80,
        "wires": [
            [
                "f3491f6a167a9780"
            ]
        ]
    },
    {
        "id": "f3491f6a167a9780",
        "type": "mqtt out",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Dispatch",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4cefa2ad2d8b462e",
        "x": 1200,
        "y": 80,
        "wires": []
    },
    {
        "id": "35bbbb9283ea5e80",
        "type": "debug",
        "z": "utility-weather-alerts",
        "g": "d95945a45dda81f5",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "5a8186dbb17e7425",
        "type": "function",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Build Notifications",
        "func": "const events = msg.events || [];\n\nfor (const evt of events) {\n    const p = evt.payload;\n\n    if (evt.topic === 'highland/event/weather/alert/new' ||\n        evt.topic === 'highland/event/weather/alert/updated') {\n\n        node.send({\n            topic: 'highland/event/notify',\n            payload: JSON.stringify({\n                notification_id: 'weather.alert',\n                severity:        p.notification_severity,\n                source:          'weather_alerts',\n                title:           p.event,\n                message:         p.headline,\n                correlation_id:  p.correlation_id,\n                url:             '/dashboard-weather/0',\n                sticky:          true,\n                group:           'weather_alerts'\n            })\n        });\n\n    } else if (evt.topic === 'highland/event/weather/alert/expired') {\n\n        node.send({\n            topic: 'highland/command/notify/clear',\n            payload: JSON.stringify({\n                notification_id: 'weather.alert',\n                correlation_id:  p.correlation_id\n            })\n        });\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 140,
        "wires": [
            [
                "9431f89c8e72dece"
            ]
        ]
    },
    {
        "id": "9431f89c8e72dece",
        "type": "mqtt out",
        "z": "utility-weather-alerts",
        "g": "806e9ecc0ebe893f",
        "name": "Notify",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4cefa2ad2d8b462e",
        "x": 1190,
        "y": 140,
        "wires": []
    },
    {
        "id": "83310d17313f998b",
        "type": "function",
        "z": "utility-weather-alerts",
        "g": "5fe8ffe3145c6a25",
        "name": "Build Sensors",
        "func": "const STATE_TOPIC = 'highland/state/weather/alerts';\nconst base        = 'homeassistant/sensor/highland_weather_alerts';\n\nconst device = {\n    identifiers:  ['highland_weather_alerts'],\n    name:         'Highland Weather Alerts',\n    model:        'NWS Direct',\n    manufacturer: 'Highland'\n};\n\nnode.send({\n    topic:   `${base}/alerts_card/config`,\n    retain:  true,\n    qos:     1,\n    payload: JSON.stringify({\n        name:                  'Weather Alerts',\n        unique_id:             'highland_weather_alerts_card',\n        state_topic:           STATE_TOPIC,\n        value_template:        '{{ value_json.count }}',\n        json_attributes_topic: STATE_TOPIC,\n        icon:                  'mdi:alert',\n        device\n    })\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "888b530227258ecc"
            ]
        ]
    },
    {
        "id": "f236a0e6c9c68c3f",
        "type": "inject",
        "z": "utility-weather-alerts",
        "g": "5fe8ffe3145c6a25",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "83310d17313f998b"
            ]
        ]
    },
    {
        "id": "888b530227258ecc",
        "type": "mqtt out",
        "z": "utility-weather-alerts",
        "g": "5fe8ffe3145c6a25",
        "name": "Publish",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4cefa2ad2d8b462e",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "4cefa2ad2d8b462e",
        "type": "mqtt-broker",
        "name": "Hub",
        "broker": "hub.local",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]